#banner (largura: 100%;}

h1 {text-align: center;}

p {text-align: center;}

#missão (font-size: 20px;}

em forte (cor: #FF0000;}

itens (font-style:italic;font-size:25px;}

beneficios{background:#FFFFFF;padding:20px;}

principal (fundo:#CCCCCC;preenchimento:30px;}

h2{text-align:center;}

imagembeneficios (width: 60%;}

ul {display:inline-block;vertical-align:top;}
